.div1 {
    width: 400px;
    height: auto;
    border: 3px solid black;
    background-color: paleturquoise;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
}

#prd_Form {
    font-family: Arial;
}

#prd_name {
    margin-top: 5px;
}

#prd_category {
    margin-top: 5px;
}

#prd_quantity {
    margin-top: 5px;
}

#prd_price {
    margin-top: 5px;
}

#prd_desc {
    margin-top: 5px;
}

#submit {
    margin-left: 150px;
}

button {
    margin-top: 20px;
}